
  <div class="block">
    <div class="box">
      <h1 class="title is-4"><%= comment.user.name %></h1>
      <p class="content is-medium"><%= comment.text %></p>
      <% if @current_user.id == comment.user.id %>
        <%= button_to "Delete", post_comment_path(@post, comment), method: :delete, class: "button is-danger" , data: { confirm: "Are you sure you'd like to delete this comment?" } %>
      <% end %>


  
    </div>
  </div>


